.biscuit-button {
    -fx-background-color: #1E1E1E;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.pane {
    -fx-background-color: white;
}

.text {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-border-color: #3C3C3C;
}

.transparent-pane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.custom-alert {
    -fx-background-color: #1E1E1E;
}

.custom-alert .content.label {
    -fx-text-fill: white;
}

.custom-alert .header-panel {
    -fx-background-color: #1E1E1E;
}

.custom-alert .header-panel .label {
    -fx-text-fill: white;
}

.custom-alert .text-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
    -fx-border-color: #3C3C3C;
}

.custom-alert .title {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
}

.color-picker {
    -fx-background-color: #2C2C2C;
    -fx-border-color: #3C3C3C;
}

.color-picker .label {
    -fx-text-fill: white;
}

.color-palette {
    -fx-background-color: #2C2C2C;
}

.hyperlink {
    -fx-text-fill: white;
}

.custom-color-dialog {
    -fx-background-color: #2C2C2C;
}

.custom-color-dialog .label {
    -fx-text-fill: white;
}

.custom-rect-pane {
    -fx-background-color: #2C2C2C;
}

.custom-rect-pane .label {
    -fx-text-fill: white;
}

.controls-pane {
    -fx-background-color: #2C2C2C;
}

.controls-pane .label {
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-border-color: #3C3C3C;
}

.slider {
    -fx-background-color: #2C2C2C;
}

.slider .label {
    -fx-text-fill: white;
}

.slider .track {
    -fx-background-color: #3C3C3C;
}

.current-new-color-grid {
    -fx-background-color: #2C2C2C;
}

.current-new-color-grid .label {
    -fx-text-fill: white;
}

.customcolor-controls-background {
    -fx-background-color: #2C2C2C;
}

.integer-field {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-border-color: #3C3C3C;
}

.webcolor-field {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-border-color: #3C3C3C;
}

.dialog-pane {
    -fx-background-color: #1E1E1E;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.viewport .label {
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #1E1E1E;
}

.thumb {
    -fx-background-color: #2C2C2C;
    -fx-border-color: #3C3C3C;
}

.menu-item {
    -fx-background-color: #1E1E1E;
}

.menu-item:hover {
    -fx-background-color: #3C3C3C;
}

.menu:hover {
    -fx-background-color: #3C3C3C;
}

.menu:showing {
    -fx-background-color: #3C3C3C;
}

.context-menu {
    -fx-background-color: #1E1E1E;
    -fx-border-color: #3C3C3C;
}

.label {
    -fx-text-fill: white;
}

.locked-achievement-label {
    -fx-opacity: 0.5;
}

.achievement-box {
    -fx-border-color: white;
}