.biscuit-button {
    -fx-background-color: #1E1E1E;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.pane {
    -fx-background-color: #1E1E1E;
}

.text {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: #F5F5F5;
    -fx-border-color: #3C3C3C;
}

.transparent-pane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.custom-alert {
    -fx-background-color: #1E1E1E;
}

.custom-alert .content.label {
    -fx-text-fill: white;
}

.custom-alert .header-panel {
    -fx-background-color: #1E1E1E;
}

.custom-alert .header-panel .label {
    -fx-text-fill: white;
}

.custom-alert .text-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
    -fx-border-color: #3A3A3A;
}

.custom-alert .title {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
}

.color-picker {
    -fx-background-color: #1E1E1E;
}

.color-picker .label {
    -fx-text-fill: white;
}

.color-palette {
    -fx-background-color: #1E1E1E;
}

.hyperlink {
    -fx-text-fill: white;
}

.custom-color-dialog {
    -fx-background-color: #1E1E1E;
}

.custom-color-dialog .label {
    -fx-text-fill: white;
}

.custom-rect-pane {
    -fx-background-color: #1E1E1E;
}

.custom-rect-pane .label {
    -fx-text-fill: white;
}

.controls-pane {
    -fx-background-color: #1E1E1E;
}

.controls-pane .label {
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
}

.slider {
    -fx-background-color: #1E1E1E;
}

.slider .label {
    -fx-text-fill: white;
}

.slider .track {
    -fx-background-color: white;
}

.current-new-color-grid {
    -fx-background-color: #1E1E1E;
}

.current-new-color-grid .label {
    -fx-text-fill: white;
}

.customcolor-controls-background {
    -fx-background-color: #1E1E1E;
}

.integer-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
}

.webcolor-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
}