.biscuit-button {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.pane {
    -fx-background-color: white;
}

.transparent-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}